<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="admin/base::layout1(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>category page</title>
</head>

<body>
	<section>
		<div class="container-fluid p-5 text-center">
			<h3>welcome to category home page................</h3>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th scope="col">S. No.</th>
						<th scope="col">First</th>
						<th scope="col">Last</th>
						<th scope="col">Operation</th>
					</tr>       
				</thead>
				<tbody>
					<tr>
						<th>1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>
							<a href="#"><i class="fa-solid fa-eye mx-2 text-success"></i></a>
							<a href="#"><i class="fa-solid fa-pen-to-square mx-2"></i></a>
							<a href="#"><i class="fa-solid fa-trash mx-2 text-danger"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>

</html>