<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="admin/base::layout1(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>category page</title>
</head>

<body>
	<section>
		<div class="container p-5">
			
			<a th:href="@{/addcategory}" class="btn blackbtn text-left my-2">Add Category</a>
			<table class="table table-bordered table-striped text-center">
				<thead>
					<tr>
						<th scope="col">Category Id</th>
						<th scope="col">Category Name</th>
						<th scope="col">Category Details</th>
						<th scope="col">Operation</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c: ${FAC}">
						<td th:text="${c.categoryid}"></td>
						<td th:text="${c.categoryname}"></td>
						<td th:text="${c.categorydetails}"></td>

						<td class="d-flex">
							<form th:action="@{'/user/updatecontact/'+${c.categoryid}}" method="post">
								<button type="submit" style="border: none;"><i
										class="fa-solid fa-pen-to-square fa-lg px-2"></i></button>
							</form>

							<a href="#" th:onclick="|deleteBox(${c.categoryid})|"><i
									class="fa-solid fa-trash fa-lg px-2 text-danger"></i></a>
						</td>
					</tr>


				</tbody>
			</table>
		</div>
	</section>
</body>

</html>