<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="admin/base::layout1(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title th:text="${tit}"></title>
</head>

<body>
	<section
		style="background-image: url(https://media.istockphoto.com/id/953446856/photo/bar-graph-concept-background.jpg?s=612x612&w=0&k=20&c=_z8QdK46J362_CPOqqqT-KVUr6w9kNXrYH9tWfmKdL0=); height: 80vh;">
		<div class="container p-4 text-center">
			<div class="alert alert-primary my-4" role="alert">
				<h5>Welcome to admin dashboard ................</h5>
			</div>
		</div>
	</section>
</body>

</html>