<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="admin/base::layout1(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>demo page</title>
</head>
<body>
	<section>
		<div class="p-5 text-center">
			<h3>welcome to admin home page................</h3>
			<h3>welcome to admin home page................</h3>
			<h3>welcome to admin home page................</h3>
			<h3>welcome to admin home page................</h3>
			<h3>welcome to admin home page................</h3>
		</div>
	</section>
</body>
</html>