<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="admin/base::layout1(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title th:text="${tit}"></title>
</head>

<body>
	<section>
		<div class="container-fluid p-4 text-center">
			<h3 class="mb-4 fw-bold">Admin Dashboard</h3>
			<div class="row gap-5 offset-2">
				<div class="col-md-3 p-3 shadow-lg" style="border-radius: 25px;">
					<h5>Total User</h5>
					<p>Lorem ipsum dolor sit amet Magni dicta </p>
				</div>
				<div class="col-md-3 p-3 shadow-lg" style="border-radius: 25px;">
					<h5>Total products</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias repudiandae sed quam labore
						officia dolorem id qui aut ducimus reiciendis doloribus unde facere voluptates! Magni dicta
						excepturi totam quibusdam quaerat.</p>
				</div>
				<div class="col-md-3 p-3 shadow-lg" style="border-radius: 25px;">
					<h5>Total Sales Revenue</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias repudiandae sed quam labore
						officia dolorem id qui aut ducimus reiciendis doloribus unde facere voluptates! Magni dicta
						excepturi totam quibusdam quaerat.</p>
				</div>
				<div class="col-md-3 p-3 shadow-lg" style="border-radius: 25px;">
					<h5>Total Sales Monthly</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias repudiandae sed quam labore
						officia dolorem id qui aut ducimus reiciendis doloribus unde facere voluptates! Magni dicta
						excepturi totam quibusdam quaerat.</p>
				</div>
			</div>
		</div>
	</section>
</body>

</html>