<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="admin/base::layout1(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>product home page</title>
</head>

<body>
	<section>
		<div class="container-fluid pb-4">

			<div th:if="${session.message}" th:classappend="${'alert-'+session.message.type}" class="alert text-center"
				role="alert" id="alertMessage">
				<span th:text="${session.message.content}" class="fw-bold"></span>
			</div>

			<a th:href="@{/admin/sendAddProductPage}" class="btn blackbtn text-left my-2">Add Product</a>
			<a href="#" th:onclick="deleteallcategory()" class="btn btn-danger text-end my-2"
				style="float: right;">Delete All Product</a>
			<table class="table table-bordered table-striped text-center shadow-lg">
				<thead>
					<tr>
						<th scope="col">product Id</th>
						<th scope="col">product Name</th>
						<th scope="col">product category</th>
						<th scope="col">product Details</th>
						<th scope="col">Company Name</th>
						<th scope="col">Price</th>
						<th scope="col">Quantity</th>
						<th scope="col">Discount</th>
						<th scope="col">Option 1</th>
						<th scope="col">Option 2</th>
						<th scope="col">Option 3</th>
						<th scope="col">Option 4</th>
						<th scope="col">Date</th>
						<th scope="col">Image</th>
						<th scope="col">Operation</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p:${products}">
						<td th:text="${p.productId}"></td>
						<td th:text="${p.productName}"></td>
						<td th:text="${p.category.categoryname}"></td>
						<td th:text="${p.productDescription}"></td>
						<td th:text="${p.productCompanyName}"></td>
						<td th:text="${p.productPrice}"></td>
						<td th:text="${p.quantity}"></td>
						
						<td th:text="${p.discount}"></td>
						<td th:text="${p.option1}"></td>
						<td th:text="${p.option2}"></td>
						<td th:text="${p.option3}"></td>
						<td th:text="${p.option4}"></td>
						<td th:text="${p.productDate}"></td>
						
						<td>
							<img class="w-100" th:src="@{${'/images/upload/'+p.productImage}}">
						</td>
						<td class="d-flex">
							<a th:href="@{/admin/sendUpdateProductPage/{id}(id=${p.productId})}"><i
									class="fa-solid fa-pen-to-square fa-lg px-2"></i></a>
							<a href="#" th:onclick="|deleteBox(${p.productId})|"><i
									class="fa-solid fa-trash fa-lg px-2 text-danger"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
			<!--  pagination part start here -->

			<nav aria-label="Page navigation example" style="float:right;">
				<ul class="pagination">

					<li th:if="${currentPage != 0}" class="page-item fw-bold">
						<a class="page-link" th:href="@{'/admin/productHome/'+${currentPage-1}}" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>

					<li th:each="i: ${#numbers.sequence(1,totalPage)}"
						th:classappend="${currentPage==i-1} ? 'active':' ' " class="page-item fw-bold">
						<a th:href="@{'/admin/productHome/'+${i-1}}" class="page-link" href="#">
							<span th:text="${i}"></span>
						</a>
					</li>

					<li th:if="${currentPage+1 != totalPage}" class="page-item fw-bold">
						<a class="page-link" th:href="@{'/admin/productHome/'+${currentPage+1}}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>


			<!--  pagination part end here -->
		</div>
		<!-- delete alert box (sweet alert ) -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script>
			function deleteBox(productid) {
				Swal.fire({
					title: "Are you sure?",
					text: "You want be delete this product !",
					icon: "warning",
					showCancelButton: true,
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "Yes, delete it!"
				}).then((result) => {
					if (result.isConfirmed) {
						window.location = "/admin/deleteProduct/" + productid
						Swal.fire({
							title: "Deleted!",
							text: "Your product has been deleted.",
							icon: "success"
						});
					}
				});
			}

			setTimeout(function () {
				var alertMessage = document.getElementById('alertMessage');
				if (alertMessage) {
					alertMessage.style.display = 'none';
				}
			}, 2000);

			// delete all category function 
			function deleteallcategory() {
				Swal.fire({
					title: "Are you sure?",
					text: "You want be delete all category!",
					icon: "warning",
					showCancelButton: true,
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "Yes, delete it!"
				}).then((result) => {
					if (result.isConfirmed) {
						window.location = "/admin/deleteAllProduct"
						Swal.fire({
							title: "Deleted!",
							text: "Your all category has been deleted.",
							icon: "success"
						});
					}
				});
			}

		</script>

	</section>
</body>

</html>