<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>cart page</title>
</head>

<body>
	<section>
		<!-- inner page section -->
		<section class="inner_page_head">
			<div class="container_fuild">
				<div class="row">
					<div class="col-md-12">
						<div class="full">
							<h3>Cart page</h3>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end inner page section -->


		<!-- cart section start here -->
		<section class="client_section layout_padding">
			<div class="container">
				<div class="heading_container heading_center">
					<h2>Customer's Cart</h2>
				</div>
				<div class="row p-3">
					<div class="col-md-6 bg-primary p-2 ">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia iusto aliquid deleniti
							accusamus fugiat quasi ullam a sapiente enim quod totam omnis quae labore tempora officiis
							vitae asperiores esse. Illum fugiat tenetur expedita facere inventore quasi harum ab vitae
							deserunt sapiente incidunt nam esse delectus aut placeat deleniti aperiam dolorem.</p>
					</div>
					<div class="col-md-6 bg-danger p-2 ">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia iusto aliquid deleniti
							accusamus fugiat quasi ullam a sapiente enim quod totam omnis quae labore tempora officiis
							vitae asperiores esse. Illum fugiat tenetur expedita facere inventore quasi harum ab vitae
							deserunt sapiente incidunt nam esse delectus aut placeat deleniti aperiam dolorem.</p>
					</div>

				</div>




			</div>
		</section>
		<!-- cart section end here  -->

	</section>

</body>

</html>