<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>forgot password page</title>
</head>

<body>
	<section>
		<!-- inner page section -->
		<section class="inner_page_head">
			<div class="container_fuild">
				<div class="row">
					<div class="col-md-12">
						<div class="full">
							<h3>Welcome to change New password page </h3>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end inner page section -->
		<!-- Modal -->
		<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title text-center">Change Password</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form th:action="@{/changePassword}" method="post" class="fw-bold my-3">
							<div class="mb-3">
								<label class="form-label">Set New Password </label>
								<input type="password" class="form-control" name="newPassword" id="newpass"
									placeholder="Enter New Password " required>
							</div>
							<div class="text-center">
								<button type="submit" class="btn bg-success w-50 mx-5 text-white">Change
									Password</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>



		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			// JavaScript to trigger modal on page load
			$(document).ready(function () {
				$('#forgotPasswordModal').modal('show');
			});
		</script>


	</section>
</body>

</html>