<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>000</title>
</head>

<body>
	<section>
		<!-- inner page section -->
		<section class="inner_page_head">
			<div class="container_fuild">
				<div class="row">
					<div class="col-md-12">
						<div class="full">
							<h3> All Products </h3>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end inner page section -->


		<!-- category get from database start here -->
		<!--	<ul class="list-group w-25">
			<h5 class="list-group-item">All Products </h5>
			<a href="#" th:each="cate:${category}">
				<li class="list-group-item" th:text="${cate.categoryname}">
					<a>hello</a>
				</li>
			</a>
		</ul>

		<div class="dropdown Side-Drop" th:each="cate : ${category}">
			<a href="#" class="dropdown-toggle" id="dropdownMenuButton1"
				data-bs-toggle="dropdown" aria-expanded="false" th:text="${cate.categoryname}">Dropdown button
			</a><hr>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				<li th:each="pro : ${productsByCategoryId[cate.categoryid]}">
					<a class="dropdown-item" th:href="@{/some-url/{proId}(proId=${pro.productId})}"
						th:text="${pro.productName}"></a>
				</li>
			</ul>
		</div>
		-->
		<!-- category get from database start here -->


		<div class="row">
			<div class="" style="width:15%; height: 700px; background-color: #e2e2e2;">
				<div class="m-1">
					<p class="fw-bold"> Product Filters </p>
					<form id="searchForm" th:action="@{/searchProductsByPrice}" method="get">
						<div id="filterProductRadio" class="mt-2">
							<span class="fw-bold">* Price range</span>
							<div class="form-check">
								<input class="form-check-input" type="radio" id="flexRadioDefault1" th:value="0-1000"
									th:onclick="updatePriceRange(0, 1000)">
								<label class="form-check-label" for="flexRadioDefault1">0-1000</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" id="flexRadioDefault2"
									th:value="1000-10000" th:onclick="updatePriceRange(1000, 10000)">
								<label class="form-check-label" for="flexRadioDefault2">1000-10,000</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" id="flexRadioDefault3"
									th:value="10000-100000" th:onclick="updatePriceRange(10000, 100000)">
								<label class="form-check-label" for="flexRadioDefault3">10,000-1,00,000</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" id="flexRadioDefault4"
									th:value="100000" th:onclick="updatePriceRange(100000, 1000000)">
								<label class="form-check-label" for="flexRadioDefault4">Above 1,00,000</label>
							</div>
						</div>
						<!-- Hidden input fields for minValue and maxValue -->
						<input type="hidden" id="minValueInput" name="minValue">
						<input type="hidden" id="maxValueInput" name="maxValue">
					</form>

					<script th:inline="javascript">
						function updatePriceRange(minValue, maxValue) {
							document.getElementById("minValueInput").value = minValue;
							document.getElementById("maxValueInput").value = maxValue;
							document.getElementById("searchForm").submit();
						}
					</script>


					<div class="mt-2">
						<form id="searchForm1" th:action="@{/searchProductByDiscount}" method="get">
							<div id="filterProductRadio" class="mt-2">
								<span class="fw-bold"> * Discount </span>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="flexRadioDefault5" 
										th:value="0-3" th:onclick="updateDiscountRange(0,3)">
									<label class="form-check-label" for="flexRadioDefault5">0% - 3%</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="flexRadioDefault6" 
										th:value="3-5" th:onclick="updateDiscountRange(3,5)">
									<label class="form-check-label" for="flexRadioDefault6">3% - 5%</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="flexRadioDefault7" 
										th:value="5-7" th:onclick="updateDiscountRange(5,7)">
									<label class="form-check-label" for="flexRadioDefault7">5% - 7%</label>
								</div>
								
							<!-- Hidden input fields for minValue and maxValue -->
							<input type="hidden" id="minDiscountInput" name="minDiscount">
							<input type="hidden" id="maxDiscountInput" name="maxDiscount">
						</form>

						<script th:inline="javascript">
							function updateDiscountRange(minDiscount, maxDiscount) {
								document.getElementById("minDiscountInput").value = minDiscount;
								document.getElementById("maxDiscountInput").value = maxDiscount;
								document.getElementById("searchForm1").submit();
							}
						</script>
					</div>

				</div>
			</div>
			</div>





			<!-- product section -->
			<section class="product_section layout_padding" style="width:85%;">
				<div class="container-fluid">
					<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
								class="active" aria-current="true" aria-label="Slide 1"></button>
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
								aria-label="Slide 2"></button>
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
								aria-label="Slide 3"></button>
						</div>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/7009dc0a7dab3d91.jpg?q=80"
									class="d-block w-100" alt="carousel 1st image">
							</div>
							<div class="carousel-item">
								<img src="https://rukminim2.flixcart.com/fk-p-flap/3200/540/image/8c21b4c93944a503.jpg?q=60"
									class="d-block w-100" alt="carousel 2nd image">
							</div>
							<div class="carousel-item">
								<img src="https://rukminim2.flixcart.com/fk-p-flap/3200/540/image/cf48be669a897c51.jpeg?q=60"
									class="d-block w-100" alt="carousel 3rd image">
							</div>

						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
					<div class="row">
						<div th:each="prod:${AllProduct}" class="col-sm-6 col-md-4 col-lg-3" id="productResults">
							<div class="box">
								<div class="img-box">
									<a th:href="@{/productDetailsPageById/{id}(id=${prod.productId})}"><img
											th:src="@{${'/images/upload/'+prod.productImage}}" alt="product Image"></a>
								</div>
								<div class="detail-box">
									<h5 th:text="${prod.productName}">T.V.</h5>
									<h6 th:text="${prod.productPrice}">$75</h6>
								</div>
								<p class="pt-2" th:text="${prod.productDescription}"></p>
								<p th:if="${prod.quantity == 0}" class="text-danger fw-bold">Product Out of Stock</p>
								<p th:if="${prod.quantity > 0 && prod.quantity < 10}" class="text-warning">Hurry up!
									Limited stock available</p>
								<p>Product Quantity : <span class="pt-2" th:text="${prod.quantity}"></span></p>
								<div class="">
									<a th:if="${prod.quantity > 0}"
										th:href="@{/cart/addToCart/{id}(id=${prod.productId})}" class="redbtn p-1">Add
										To Cart</a>
									<a th:if="${prod.quantity == 0}" class="p-1"
										style="pointer-events: none; background-color: red; color: white;">Out of
										Stock</a>
									<a th:href="@{/cart/cartHomePage}" class="blackbtn p-1 px-2 mx-2">Buy Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end product section -->
		</div>

	</section>
</body>

</html>