<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>000</title>
</head>

<body>
	<section>
		<!-- inner page section -->
		<section class="inner_page_head">
			<div class="container_fuild">
				<div class="row">
					<div class="col-md-12">
						<div class="full">
							<h3> Product Details Page </h3>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end inner page section -->

		<!-- product section -->
		<section class="product_section layout_padding">
			<div class="container">
				<div class="row shadow-lg p-3">
					<div th:each="prod:${product01}" class="col-sm-6 col-md-4 col-lg-4">
						<div class="text-center">
							<div class="img-box">
								<img th:src="@{${'/images/upload/'+prod.productImage}}" alt="">
							</div>
							<div class="mt-3">
								<div class="rating-stars">
									<i class="fa-regular fa-star fa-xl text-warning"></i>
									<i class="fa-regular fa-star fa-xl text-warning"></i>
									<i class="fa-regular fa-star fa-xl text-warning"></i>
									<i class="fa-regular fa-star fa-xl text-warning"></i>
									<i class="fa-regular fa-star fa-xl text-warning"></i>
								</div>
							</div>

							<div>
								<span id="averageRating"></span>
							</div>
							<script th:inline="javascript">
								var ratings = [];
								document.addEventListener('DOMContentLoaded', function () {
									var stars = document.querySelectorAll('.rating-stars i');
									stars.forEach(function (star, index) {
										star.addEventListener('click', function () {
											if (star.classList.contains('text-warning')) {
												star.classList.remove('text-warning');
												ratings[index] = 0;
											} else {
												star.classList.add('text-warning');
												ratings[index] = index + 1;
											}
											var averageRating = calculateAverageRating(ratings);
											document.getElementById('averageRating').innerText = 'Average Rating: ' + averageRating;
										});
									});
								});

								function calculateAverageRating(ratings) {
									var sum = ratings.reduce(function (acc, rating) {
										return acc + rating;
									}, 0);

									return sum / ratings.length;
								}
							</script>
						</div>
					</div>
					<div th:each="prod:${product01}" class="col-sm-6 col-md-4 col-lg-8">
						<div class="detail-box">
							<h5 th:text="${prod.productName}"></h5>
							<h6 th:text="${prod.productPrice}"></h6>
							<p class="pt-2" th:text="${prod.productDescription}"></p>
							<p class="pt-2" th:text="${prod.productCompanyName}"></p>
							<p class="pt-2" th:text="${prod.productDescription}"></p>
						</div>
						<div class="mx-2">
							<a th:if="${prod.quantity > 0}" th:href="@{/cart/addToCart/{id}(id=${prod.productId})}"
								class="redbtn p-2">Add To Cart</a>
							<a th:if="${prod.quantity == 0}" class="p-2"
								style="pointer-events: none; background-color: red; color: white;">Out
								of
								Stock</a>
							<a th:href="@{/cart/cartHomePage}" class="blackbtn p-2 px-3 mx-2">Buy Now</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end product section -->


	</section>
</body>

</html>