<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>000</title>
</head>

<body>
	<section>
		<!-- inner page section -->
		<section class="inner_page_head">
			<div class="container_fuild">
				<div class="row">
					<div class="col-md-12">
						<div class="full">
							<h3> All Products </h3>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end inner page section -->


		<!-- category get from database start here -->
		<!--	<ul class="list-group w-25">
			<h5 class="list-group-item">All Products </h5>
			<a href="#" th:each="cate:${category}">
				<li class="list-group-item" th:text="${cate.categoryname}">
					<a>hello</a>
				</li>
			</a>
		</ul>

		<div class="dropdown Side-Drop" th:each="cate : ${category}">
			<a href="#" class="dropdown-toggle" id="dropdownMenuButton1"
				data-bs-toggle="dropdown" aria-expanded="false" th:text="${cate.categoryname}">Dropdown button
			</a><hr>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				<li th:each="pro : ${productsByCategoryId[cate.categoryid]}">
					<a class="dropdown-item" th:href="@{/some-url/{proId}(proId=${pro.productId})}"
						th:text="${pro.productName}"></a>
				</li>
			</ul>
		</div>
		-->

		<!-- category get from database start here -->


		<!-- product section -->
		<section class="product_section layout_padding">
			<div class="container">

				<div class="row">
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">Add To Cart</a>
									<a href="" class="option2">Buy Now</a>
								</div>
							</div>
							<div class="img-box">
								<img th:src="@{/images/product/tv.jpg}" alt="">
							</div>
							<div class="detail-box">
								<h5>T.V.</h5>
								<h6>$75</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">Add To Cart</a>
									<a href="" class="option2">Buy Now</a>
								</div>
							</div>
							<div class="img-box">
								<img th:src="@{/images/product/ref.jpg}" alt="">
							</div>
							<div class="detail-box">
								<h5>refrigerator</h5>
								<h6>$80</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">Add To Cart</a>
									<a href="" class="option2">Buy Now</a>
								</div>
							</div>
							<div class="img-box">
								<img th:src="@{/images/product/laptop.jpg}" alt="">
							</div>
							<div class="detail-box">
								<h5>Laptop</h5>
								<h6>$68</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">Add To Cart</a>
									<a href="" class="option2">Buy Now</a>
								</div>
							</div>
							<div class="img-box">
								<img th:src="@{/images/product/washing mc.jpg}" alt="">
							</div>
							<div class="detail-box">
								<h5>Laptop</h5>
								<h6>$68</h6>
							</div>
						</div>
					</div>




					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">
										Men's Shirt
									</a>
									<a href="" class="option2">
										Buy Now
									</a>
								</div>
							</div>
							<div class="img-box">
								<img src="images/p1.png" alt="">
							</div>
							<div class="detail-box">
								<h5>
									Men's Shirt
								</h5>
								<h6>
									$75
								</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">
										Add To Cart
									</a>
									<a href="" class="option2">
										Buy Now
									</a>
								</div>
							</div>
							<div class="img-box">
								<img src="images/p2.png" alt="">
							</div>
							<div class="detail-box">
								<h5>
									Men's Shirt
								</h5>
								<h6>
									$80
								</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">
										Add To Cart
									</a>
									<a href="" class="option2">
										Buy Now
									</a>
								</div>
							</div>
							<div class="img-box">
								<img src="images/p3.png" alt="">
							</div>
							<div class="detail-box">
								<h5>
									Women's Dress
								</h5>
								<h6>
									$68
								</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">
										Add To Cart
									</a>
									<a href="" class="option2">
										Buy Now
									</a>
								</div>
							</div>
							<div class="img-box">
								<img src="images/p4.png" alt="">
							</div>
							<div class="detail-box">
								<h5>
									Women's Dress
								</h5>
								<h6>
									$70
								</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">
										Add To Cart
									</a>
									<a href="" class="option2">
										Buy Now
									</a>
								</div>
							</div>
							<div class="img-box">
								<img src="images/p5.png" alt="">
							</div>
							<div class="detail-box">
								<h5>
									Women's Dress
								</h5>
								<h6>
									$75
								</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">
										Add To Cart
									</a>
									<a href="" class="option2">
										Buy Now
									</a>
								</div>
							</div>
							<div class="img-box">
								<img src="images/p6.png" alt="">
							</div>
							<div class="detail-box">
								<h5>
									Women's Dress
								</h5>
								<h6>
									$58
								</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">
										Add To Cart
									</a>
									<a href="" class="option2">
										Buy Now
									</a>
								</div>
							</div>
							<div class="img-box">
								<img src="images/p7.png" alt="">
							</div>
							<div class="detail-box">
								<h5>
									Women's Dress
								</h5>
								<h6>
									$80
								</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">
										Add To Cart
									</a>
									<a href="" class="option2">
										Buy Now
									</a>
								</div>
							</div>
							<div class="img-box">
								<img src="images/p8.png" alt="">
							</div>
							<div class="detail-box">
								<h5>
									Men's Shirt
								</h5>
								<h6>
									$65
								</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">
										Add To Cart
									</a>
									<a href="" class="option2">
										Buy Now
									</a>
								</div>
							</div>
							<div class="img-box">
								<img src="images/p9.png" alt="">
							</div>
							<div class="detail-box">
								<h5>
									Men's Shirt
								</h5>
								<h6>
									$65
								</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">
										Add To Cart
									</a>
									<a href="" class="option2">
										Buy Now
									</a>
								</div>
							</div>
							<div class="img-box">
								<img src="images/p10.png" alt="">
							</div>
							<div class="detail-box">
								<h5>
									Men's Shirt
								</h5>
								<h6>
									$65
								</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">
										Add To Cart
									</a>
									<a href="" class="option2">
										Buy Now
									</a>
								</div>
							</div>
							<div class="img-box">
								<img src="images/p11.png" alt="">
							</div>
							<div class="detail-box">
								<h5>
									Men's Shirt
								</h5>
								<h6>
									$65
								</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">
										Add To Cart
									</a>
									<a href="" class="option2">
										Buy Now
									</a>
								</div>
							</div>
							<div class="img-box">
								<img src="images/p12.png" alt="">
							</div>
							<div class="detail-box">
								<h5>
									Women's Dress
								</h5>
								<h6>
									$65
								</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="btn-box">
					<a href="">
						View All products
					</a>
				</div>
			</div>
		</section>
		<!-- end product section -->


	</section>
</body>

</html>