<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>000</title>
</head>

<body>
	<section>
		<!-- inner page section -->
		<section class="inner_page_head">
			<div class="container_fuild">
				<div class="row">
					<div class="col-md-12">
						<div class="full">
							<h3> Product Details Page </h3>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end inner page section -->

		<!-- product section -->
		<section class="product_section layout_padding">
			<div class="container">
				<div class="row shadow-lg p-3">
					<div th:each="prod:${product01}" class="col-sm-6 col-md-4 col-lg-4">
						<div class="text-center">
							<div class="img-box">
								<div
									style="background-image: url(/images/discount.png); width: 70px; height: 70px; background-size: cover; float: right; margin-right: -10px; transform: translateY(-10px);">
									<h4 class="pt-4 fw-bold"
										th:text="${#numbers.formatDecimal(prod.discount, 0, 'COMMA', 0, 'POINT')}"></h4>
								</div>
								<img class="w-50" th:src="@{${'/images/upload/'+prod.productImage}}" alt="">
							</div>
						</div>
					</div>
					<div th:each="prod:${product01}" class="col-sm-6 col-md-4 col-lg-8">
						<div class="detail-box">
							<h5 th:text="${prod.productName}"></h5>
							<div class="d-flex gap-1" th:if="${prod.discount != null}">
								<h6 class="text-success"
									th:text="${prod.productPrice - (prod.productPrice * prod.discount / 100)}">
								</h6>
								<del>
									<h6 th:text="${prod.productPrice}">$75</h6>
								</del>
							</div>
							<p class="pt-2" th:text="${prod.productDescription}"></p>
							<p>Product Company Name : <span class="pt-2" th:text="${prod.productCompanyName}"></span>
							</p>
							<p class="pt-2" th:text="${prod.option1}"></p>
							<p class="pt-2" th:text="${prod.option2}"></p>
							<p class="pt-2" th:text="${prod.option3}"></p>
							<p class="pt-2" th:text="${prod.option4}"></p>
							<p>Product Lunching Date : <span class="pt-2" th:text="${prod.productDate}"></span></p>
						</div>
						<div class="mx-2">
							<a th:if="${prod.quantity > 0}" th:href="@{/cart/addToCart/{id}(id=${prod.productId})}"
								class="redbtn p-2">Add To Cart</a>
							<a th:if="${prod.quantity == 0}" class="p-2"
								style="pointer-events: none; background-color: red; color: white;">Out
								of
								Stock</a>
							<a th:href="@{/cart/cartHomePage}" class="blackbtn p-2 px-3 mx-2">Buy Now</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end product section -->


	</section>
</body>

</html>