<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>000</title>
</head>

<body>
	<section>
		<!-- inner page section -->
		<section class="inner_page_head">
			<div class="container_fuild">
				<div class="row">
					<div class="col-md-12">
						<div class="full">
							<h3> All Products </h3>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end inner page section -->


		<!-- category get from database start here -->
		<!--	<ul class="list-group w-25">
			<h5 class="list-group-item">All Products </h5>
			<a href="#" th:each="cate:${category}">
				<li class="list-group-item" th:text="${cate.categoryname}">
					<a>hello</a>
				</li>
			</a>
		</ul>

		<div class="dropdown Side-Drop" th:each="cate : ${category}">
			<a href="#" class="dropdown-toggle" id="dropdownMenuButton1"
				data-bs-toggle="dropdown" aria-expanded="false" th:text="${cate.categoryname}">Dropdown button
			</a><hr>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				<li th:each="pro : ${productsByCategoryId[cate.categoryid]}">
					<a class="dropdown-item" th:href="@{/some-url/{proId}(proId=${pro.productId})}"
						th:text="${pro.productName}"></a>
				</li>
			</ul>
		</div>
		-->

		<!-- category get from database start here -->


		<!-- product section -->
		<section class="product_section layout_padding">
			<div class="container-fluid">
				<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
							class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
							aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
							aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/7009dc0a7dab3d91.jpg?q=80"
								class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
							<img src="https://rukminim2.flixcart.com/fk-p-flap/3200/540/image/8c21b4c93944a503.jpg?q=60"
								class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
							<img src="https://rukminim2.flixcart.com/fk-p-flap/3200/540/image/cf48be669a897c51.jpeg?q=60"
								class="d-block w-100" alt="...">
						</div>

					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
						data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
						data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
				<div class="row">
					<div th:each="prod:${AllProduct}" class="col-sm-6 col-md-4 col-lg-3">
						<div class="box">
							<div class="option_container">
								<div class="options">
									<a href="" class="option1">Add To Cart</a>
									<a href="" class="option2">Buy Now</a>
								</div>
							</div>
							<div class="img-box">
								<img th:src="@{${'/images/upload/'+prod.productImage}}" alt="">
							</div>
							<div class="detail-box">
								<h5 th:text="${prod.productName}">T.V.</h5>
								<h6 th:text="${prod.productPrice}">$75</h6>
							</div>
							<p class="pt-2" th:text="${prod.productDescription}"></p>
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end product section -->


	</section>
</body>

</html>